<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Spring web app boilerplate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/app.css" rel="stylesheet" />
</head>
<body>
    <div class="home">
        <h2>Home</h2>

        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>

            <tr th:each="user: ${userList}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
            </tr>
        </table>
    </div>
</body>
</html>